Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml
node_modules
npm-debug.log
yarn-error.log
README.md
.next
.env
.env.*
.git
.gitignore
.yarn/cache
.yarn/install-state.gz
.sentryclirc
e2e
cypress.json
*.tsbuildinfo
*.log
.DS_Store
